body{
    padding:40px 40px 40px 70px;
    background: black;
    color:white;
    font-family: fantasy;
}

.wrapper{
    position: relative;
    width:360px;
    height:280px;
    padding: 20px;
}

.wrapper img{
    position: absolute;
    z-index:-2;
    height:280px;
    width:360px;
}

.wrapper .top{
    z-index: -1;
}