body{
    background: rgb(12, 12, 12);
}

.img-top{
    height:120px;
    display: inline-block;
   
}

.banner{
    margin-bottom: 60px;
}

h1{
    font-size: 2.4em;
    margin:auto;
}

.card{
    margin-bottom: 40px;
}

.img2{
    height:180px;
}

nav{
    background:rgb(59, 59, 58);
}

.nav a{
    color:rgb(207, 195, 195);
    padding:2px;
    border:1px solid rgb(80, 80, 76);
}

.nav a:hover{
    background:rgb(92, 92, 89);
}


@media screen and (min-width:991px){
    h1{
        font-size:3.2em;
    }
}

