body{
    background: rgb(12, 12, 12);
}

.img-top{
    height:120px;
    display: inline-block;
   
}

.banner{
    margin-bottom: 60px;
}

h1{
    font-size: 2.4em;
    margin:auto;
}

.card{
    margin-bottom: 40px;
}

.img2{
    height:180px;
}


@media screen and (min-width:991px){
    h1{
        font-size:3.2em;
    }
}

